<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
 
                <!-- Micro desafío - code review Clase 15
                     Transformar el search bar a un formulario -->
                <div class="search-container">
                 <form action="/busqueda" method="GET">
                    <input type="text" name="searchBar" maxlength="120" placeholder="Buscar productos, marcas y más">
                    <button type="submit"><i class="fa fa-search"></i></button>
                 </form>
                </div>
                  
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <!-- main original
        <main class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar">
            </form>
        </main>-->
        <main class="login">
            <form action="/" method="POST">
                <div class = "inputRegister">
                    <input class= "w100" type="text" name="user" minlength="4" placeholder="Nombre de usuario">
                </div>
                <div class = "inputRegister">
                    <input class= "w100" type="password" name="pass" minlength="5" placeholder="Contraseña">
                </div>
                <br>
                <button class = "botonAzul botonLogin" type="submit">Enviar</button>
            </form>
        </main>

        <footer>
            <!-- code review clase 11: agrego texto al footer-->
            
            <!-- code review Clase 16 Repasando todo lo aprendido en Flexbox, debemos 
                modificar el footer para que los tres elementos se visualice en linea 
                en dispositivos desktop. Además, cada vez que se pase el mouse por los 
                íconos, estos deben cambiar de color-->

            <div class = "elementos-footer">
                <div class = "unElementoFooter">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p><br>
            
                </div>
        
                <div class = "unElementoFooter">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                   productos. Es un beneficio de MercadoPuntos.</p><br>
                </div>
                
                <div class = "unElementoFooter">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3> 
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p><br>
                </div>
            </div>

            <p id = "Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p><br> 
            
        </footer>
    </body>
</html>